@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* back ground */
    --background: oklch(16.362% 0.03518 235.945);
    --background: #f7f7f7;
    --foreground: #f8f8f8;
  }
}

body.dark {
  background: oklch(16.362% 0.03518 235.945);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f7f7f7;
}